.bg-gray{
  background-image:url(/images/BG.jpg);
  background-position: center;
  background-size: cover;
}
.content {
  color:white;
  text-shadow:0 0 1.5px black;
}
.bottom-tag {
 
  margin-bottom: 5rem;
}
.big-icon {
  font-size:3rem;
  color:white;
}
.icons {
 display:flex;
 align-items:center;
 justify-items:center;
}
.icon-container {
  justify-content:center;
  align-content:center;
}
.social {
  color:white;
  
}
.tech-logo {
   margin-top: 6rem;
  
}
.social{
  margin-top:4rem;
float:right;
} 
.credits{
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  color: white;
  float:right;
}
.boi {
  margin-top: 5rem;
}
.desc{
  font-size: 1.25rem;
  color:white;
}
.bg-aqua-fade{
  background:linear-gradient(to right bottom, aqua, rgb(251, 101, 126));
}
.dood {
border:2.5px double black;
margin-top:5px;
margin-bottom:5px;
}
.card-title {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-decoration-line: underline;
  font-weight: 100;
 letter-spacing: 10px;
}
.bottom-title {
   font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-decoration-line: underline;
  font-weight: 100;
 letter-spacing: 10px;
}
.card-text {
  font-family: 'Times New Roman', Times, serif;
}
.bottom-tag {
  font-family:'Times New Roman', Times, serif;
}