.bg-blue{
  background:lightblue;
}
.bg-gray{
  background-color:darkslategray;
}
.content {
  color:white;
}
.bottom-tag {
 
  margin-bottom: 5rem;
}
.big-icon {
  font-size:3rem;
  color:white;
}
.icons {
 text-align: center;
}
.social {
  color:white;
  
}
.tech-logo {
   margin-top: 6rem;
  
}
.social{
  margin-top:4rem;
float:right;
} 
.credits{
  font-size: 2rem;
  color: white;
  float:right;
}
.boi {
  margin-top: 5rem;
}
.desc{
  font-size: 1.25rem;
  color:white;
}
.bg-aqua-fade{
  background:linear-gradient(to right bottom, aqua, rgb(251, 101, 126));
}
.dood {
padding-top:5px;
}